-var cardsList = [{name:'Диагностика', descr:'Комплексную диагностику оборудования с использованием современных средств и методов тестирования, что позволяет выявить даже скрытые неисправности и определить оптимальные пути их устранения.', imgUrl:'images/no.svg', link:'#'}, {name:'Ремонт', descr:'Ремонт и замену неисправных узлов и деталей, а также проведение капитального ремонта оборудования с целью восстановления его', imgUrl:'images/remont-preobrazovatelya-chastoty-1.webp', link:'#'},{name:'Техническое обслуживание', descr:'Техническое обслуживание и профилактические меры, направленные на предотвращение возможных поломок и сбоев в работе оборудования, что способствует его безотказной работе на протяжении длительного времени.', imgUrl:'images/no.svg', link:'#'},{name:'Консультация', descr:'Консультационные услуги и обучение персонала заказчика по вопросам эксплуатации, обслуживания и ремонта промышленной техники.', imgUrl:'images/no.svg', link:'#'}]

section.section.cards
  .container.cards__container
    ul.cards__list.list-reset
      each card in cardsList
        li.cards__item.post
          +cardPost(card)
