
-var footerList= [{name: 'О&nbsp;нас', id: '#'},{name: 'О&nbsp;компании', id: '#'},{name: 'Контакты', id: '#'},{name: 'Поставщикам', id: '#'},{name: 'Сотрудничество', id: 'cooperation'}];
footer.footer#footer
  .footer__container.container
    .footer__left
      a.footer__logo-link.link(href="#")
        img.footer__logo.logo(src="images/logo.svg" alt="Логотип")
      ul.list-reset.footer__social-list
        li.footer__social-item
          a.footer__icon-link.icon-link(href="")
            svg.footer__social-icon.icon
              +use('ok')
        li.footer__social-item
          a.footer__icon-link.icon-link(href="")
            svg.footer__social-icon.icon
              +use('vk')
        li.footer__social-item
          a.footer__icon-link.icon-link(href="")
            svg.footer__social-icon.icon
              +use('telegram')
    ul.list-reset.footer__right
      each item in footerList
        li.footer__menu-item
          a.footer__link.link(href=`${MAIN_HOST}/${item.id}.html`) !{item.name}
.footer__copyright Копирайт<sup class="reg">&reg;</sup> 2011-2021
