section.section.hero
  .container.hero__container
    h2.hero__title.title Ремонт промышленной техники и электроники
    p.descr.hero__descr Наша компания предоставляет услуги по ремонту и обслуживанию промышленной техники и электроники любой сложности. Мы имеем большой опыт работы с различным оборудованием, а наши специалисты обладают высокой квалификацией и знаниями в данной области.
