:root {
  --color-white: #fff;
  --color-accent: #008bd2;
  --color-accent-1: #26A5E4;
  --color-accent-2: #3172B9;
  --color-disable: #C4C4C4;


  --color-grey: #999;
  --color-grey-shade: #666;
  --color-black: #333;
  --padding-container: 36px;
}

@media (max-width: 840px) {
  :root {
    --padding-container: 70px;
  }
}
@media (max-width: 720px) {
  :root {
    --padding-container: 12px;
  }
}
