.hero {
  position: relative;
  padding: 150px 0;
  background-image: url('../images/hero.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  &__container {
  }
  &__title {
    color: var(--color-accent);
    text-shadow: 2px 2px 2px var(--color-white);
    font-weight: 500;
    font-size: 50px;
    max-width: 700px;
  }
  &__descr {
    max-width: 900px;
    line-height: 1.5;
    color: var(--color-black);
    text-shadow: 1px 1px 1px var(--color-white);


  }
}

@media (max-width: 1200px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
@media (max-width: 850px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 50px;
    &__title {
      font-size: 32px;
      margin-bottom: 16px;
    }
  }
}
@media (max-width: 550px) {
  .hero {
    padding: 30px 0;
    &__title {
      font-size: 24px;
    }
    &__descr {
      font-size: 14px;
    }


  }
}
