doctype html
html(leng="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon", href="./images/favicon.png", type="image/x-icon")
  link(rel="stylesheet", href="style/main.min.css")
  title Document
  script(type="module", src="js/app.js")
body
  include components/_variables.pug
  include components/_mixins.pug
  include components/header.pug
  main.main
    include components/hero.pug
    include components/section-1.pug
    include components/cards-sec.pug
    //- include components/rating-high.pug
    //- include components/midle-baner.pug
    //- include components/top-categories.pug
    //- include components/useful.pug
    //- include components/feedback.pug
  include components/footer.pug


